*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--bg);
    font-family: 'Space Grotesk', sans-serif;
    color: var(--text);
}

/* Prevent I-beam cursor on all text */
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
    /* Keeps the arrow cursor */
    // user-select: none;
    /* Optional: disables text highlighting */
}





.whatsapp-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 44px;
    height: 44px;

    background: #25D366;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    transition: transform 0.2s ease;
}

.whatsapp-float img {
    width: 30px;
    height: 30px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}










#light {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:
        radial-gradient(circle,
            var(--primary) 20%,
            rgba(30, 40, 120, 0.1) 70%,
            transparent 100%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: .5;
}











/* =========================
SCROLLBAR (GLOBAL)
========================= */

/* Firefox  */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) #050505;
}

/* Chrome / Edge / Safari */
/* scrollbar width */
::-webkit-scrollbar {
    width: 8px;
}

/* track */
::-webkit-scrollbar-track {
    background: #050505;
}

/* thumb */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary), var(--primary));
    border-radius: 10px;
    border: 2px solid #050505;
    box-shadow: 0 0 20px rgba(157, 124, 255, 0.25);
    transition: 0.3s ease;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, var(--secondary), var(--primary));
}

/* removes top/bottom arrows */
::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-button:single-button {
    display: none;
    height: 0;
    width: 0;
}







/* =========================
   GRADIENT ORBS
========================== */
.orb {
    position: fixed;
    border-radius: 50%;
    filter: blur(120px);
    pointer-events: none;
    z-index: -1;
}

.orb-1 {
    width: 500px;
    height: 500px;
    background: var(--primary);
    top: -120px;
    right: -100px;
    opacity: .35;
}

.orb-2 {
    width: 400px;
    height: 400px;
    background: color-mix(in srgb, var(--primary) 53%, transparent);
    bottom: -120px;
    left: -120px;
    opacity: .25;
}









/* =========================
   GRID
========================== */

body>.grid {
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, .02) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .02) 1px, transparent 1px);
    background-size: 60px 60px;
    mask-image: radial-gradient(circle at center, black 30%, transparent 85%);
    z-index: -1;
}

/* =========================
   NOISE
========================== */

.noise {
    position: absolute;
    inset: 0;
    opacity: .045;
    pointer-events: none;
    background-image: url("/assets/img/noice.svg");
}

/* =========================
   GLOW LINE
========================== */

.glow-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom,
            transparent,
            rgba(157, 124, 255, .6),
            transparent);
    left: 6vw;
    top: 0;
    opacity: .4;
}





.social-rail {
    position: fixed;
    left: 2.5vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 50;

    a {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: none;
        font-size: 0.85rem;
        letter-spacing: 1px;
        transition: 0.3s ease;
        // writing-mode: vertical-rl;
        // transform: rotate(180deg);
    }

    a:hover {
        color: var(--primary);
        transform: translateX(4px);
    }

    /* Tablets */
    @media (max-width: 992px) {

        // .social-rail {
        //     left: 10px;
        //     gap: 12px;
        // }

        .social-rail {
            left: 1.8vw;
            gap: 14px;
        }

        .social-rail a {
            font-size: 0.8rem;
        }
    }

    /* Mobile — keep minimal OR hide */
    @media (max-width: 600px) {

        .social-rail {
            display: none;
        }
    }
}






/* =========================
   NAVBAR
========================= */

// .navbar {
//     position: fixed;
//     top: 25px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: min(1300px, 92%);
//     padding: 18px 32px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border-radius: 24px;
//     background: rgba(255, 255, 255, .04);
//     border: 1px solid rgba(255, 255, 255, .08);
//     backdrop-filter: blur(20px);
//     z-index: 100;

//     .logo {
//         font-size: 1rem;
//         font-weight: 700;
//         letter-spacing: 2px;
//         text-decoration: none;
//         color: inherit;
//         transition: 0.3s;
//         margin: 0;
//     }

//     .logo:hover {
//         color: #7c3aed;
//     }

//     .nav-links {
//         display: flex;
//         gap: 50px;
//     }

//     .nav-links a {
//         text-decoration: none;
//         color: white;
//         opacity: .65;
//         transition: .3s;
//     }

//     .nav-links a:hover {
//         opacity: 1;
//         color: #7b61ff;
//     }

//     .nav-btn {
//         padding: 14px 26px;
//         border-radius: 999px;
//         border: none;
//         cursor: pointer;

//         background: #7b61ff;
//         color: white;
//         font-weight: 600;

//         transition: .3s;
//         text-decoration: none;
//     }

//     .nav-btn:hover {
//         transform: translateY(-3px);
//     }


//     @media (max-width: 1200px) {
//         .nav-links {
//             gap: 30px;
//         }
//     }

//     @media (max-width: 992px) {
//         .nav-links {
//             display: none;
//             /* hide nav links */
//         }

//         .navbar {
//             padding: 14px 20px;
//         }
//     }

//     @media (max-width: 600px) {
//         .navbar {
//             width: 94%;
//             border-radius: 16px;
//         }

//         .logo {
//             font-size: 0.9rem;
//         }
//     }

//     @media (max-width: 400px) {
//         .navbar {
//             padding: 12px 16px;
//         }
//     }
// }








/* =========================
   NAVBAR
========================= */

.navbar {
    position: fixed;
    top: 15px;
    width: 100%;
    padding: 0 8vw;
    z-index: 100;

    .container {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding: 13px 26px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--radius-md);
        background: rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(20px);
    }

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text);

        img {
            height: 40px;
        }
    }

    .nav-links {
        display: flex;
        gap: 30px;

        @media (max-width: 992px) {
            display: none;
        }
    }

    .nav-link {
        position: relative;
        text-decoration: none;
        color: var(--text-dim);
        font-size: var(--p-size);
        transition: .5s ease;
        padding: 6px 0;

        &:hover {
            color: var(--primary);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 0%;
            height: 2px;
            background: linear-gradient(90deg, var(--primary), var(--secondary));
            border-radius: 10px;
            transition: .5s ease;
        }

        &:hover::after {
            width: 100%;
        }

        &.active {
            color: var(--text);

            &::after {
                width: 100%;
                box-shadow: 0 0 12px rgba(157, 124, 255, 0.6);
            }

            &::before {
                content: "";
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--primary);
                box-shadow: 0 0 10px var(--primary);
            }
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .nav-phone {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.85rem;
        text-decoration: none;
        color: var(--text-dim);
        padding: 10px 14px;
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background: rgba(255, 255, 255, 0.03);
        transition: 0.3s ease;
        display: none;

        &:hover {
            color: var(--primary);
            border-color: rgba(157, 124, 255, 0.4);
            transform: translateY(-2px);
        }

        .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #22c55e;
            box-shadow: 0 0 12px #22c55e;
            animation: pulse 1.8s infinite;
        }
    }

    .nav-btn {
        padding: 12px 22px;
        border-radius: 999px;
        background: var(--primary);
        color: var(--text);
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 30px color-mix(in srgb, var(--primary) 53%, transparent);
        }
    }

    .tooltip {
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%) translateY(5px);

        background: rgba(10, 10, 10, 0.85);
        border: 1px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(10px);

        color: var(--text);
        font-size: 0.75rem;
        padding: 6px 10px;
        border-radius: 8px;

        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s ease;
    }

    .nav-link:hover .tooltip,
    .nav-phone:hover .tooltip {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.5);
            opacity: 0.4;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @media (max-width: 600px) {
        padding: 14px 18px;
        border-radius: 16px;

        .nav-phone {
            display: none;
        }
    }
}







.breadcrumb {
    font-size: var(--p-size);
    margin-bottom: 80px;

    ol {
        list-style: none;
        display: flex;
        gap: 8px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    li {
        color: var(--text);
        opacity: .7;
    }

    li::after {
        content: "/";
        margin-left: 8px;
        color: var(--text-dim);
    }

    li:last-child::after {
        content: "";
    }

    a {
        text-decoration: none;
        color: var(--text-dim);
        transition: .5s ease;
        opacity: 1;
    }

    a:hover {
        color: var(--text);
        text-decoration: underline;
    }
}